{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bartini - Kayıt Ol</title>
    <link rel="stylesheet" href="{% static 'sign.css' %}">
    <script src="{% static 'sign.js' %}"></script>
       <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <nav class="navbar bg-body-white">
        <div style=" ;" class="container">
          <a class="navbar-brand" href="/">
            <img style="width: 275px" src="{% static 'images/logo.png' %}" alt="Bootstrap">
          </a>
        </div>
    </nav>

            <div class="col">
                <div style="padding-top: 20%; " class="right-section center text-center">
                    <div class="container center">
                        {% if success_message %}
                        <div class="success-message" id="successMessage">{{ success_message }}</div>
<script>
                            document.addEventListener('DOMContentLoaded', function() {
                                var successMessage = document.getElementById('successMessage');
                                if (successMessage) {
                                    successMessage.style.display = 'block'; 
                                    setTimeout(function() {
                                        window.location.href = '/'; 
                                    }, 1000); 
                                }
                            });
                        </script>
                        {% endif %}
                              <form autocomplete="off" id="form"method="POST"action="{% url 'register' %}">

                            {% csrf_token %}
                                      <h1 style="color: rgba(51,51,51,0.7)" id="message">Kayıt Ol</h1><small id="smallMessage"> </small>
                                      <div class="field">
                                   <input type="email" name="email" placeholder="E-posta" id="email" autocomplete="off"required/>
                                    <label for="email">email</label>
                             </div>
                            <div class="field">
                                   <input type="username" name="username" placeholder="Kullanıcı Adı" id="username" autocomplete="off"required/>
                                    <label for="username">username</label>
                             </div>
                                  <div class="field">
                                   <input type="password" name="password" placeholder="Şifre" id="password" autocomplete="off"required/>
                                    <label for="password">password</label>
                             </div>
                                      <button  type="submit" id="submit login-button">Hesabımı Oluştur</button>
                            <a href="/" class="forgot-password">Zaten hesabım var</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
